<div class="container">
  <h1>User</h1>
  <p>
    <strong>First Name:</strong>
    <%= @user.first_name %>
  </p>

  <p>
    <strong>Family Name:</strong>
    <%= @user.family_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
  <%= link_to 'Edit Profile', profile_edit_path, class:"hvr-underline-from-center" %>
  <%= link_to 'Goals', goals_path, class:"hvr-underline-from-center left-space" %>
</div>
