<div class="row">
  <div class="six columns offset-by-three space-top">

    <%= form_for(campaign) do |f| %>
      <% if campaign.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>
          <ul>
          <% campaign.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= render partial: 'partials/partialcampaign1', locals: { f: f } %>
      <%= render partial: 'partials/partialcampaign2', locals: { f: f } %>
      <%= render partial: 'partials/partialcampaign3', locals: { f: f } %>
      <%= render partial: 'partials/partialcampaign4', locals: { f: f } %>
      <%= render partial: 'partials/partialcampaign5', locals: { f: f } %>
      <br>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
    <%= link_to 'Back', campaigns_path %>
  </div>
</div>
