<div class="container">
  <h1>Goals</h1>
  <%= will_paginate @posts %>
  <br>
    <div class="row">
    <% @goals.each do |goal| %>
      <div class="one-third column bottom-20" style="border: solid 0.5px #F1EEEA; border-radius:10px;padding: 20px;">
        <h6 class="project-title"><strong><%= goal.title %></strong></h6>
        <p class="project-byline orange-color"><%= goal.user.name %></p>

        <button id="myBtn10" type="button" name="button" onclick="var x = document.getElementById('descriptionGoal<%= goal.id %>'); if (x.style.display === 'none') {x.style.display = 'block';} else {x.style.display = 'none';}">See description</button>
        <div id="descriptionGoal<%= goal.id %>" class="twelve columns hide">
            <%= goal.description %>
        </div>

        <p class="project-content-extra"><%= goal.beneficiary.name %></p>
        <div class="progress-bar blue stripes orange twelve columns">
          <span style="width: <%= (goal.pledges_total/goal.target_amount)*100 %>%"></span>
        </div>
        <ul class="twelve columns">
          <li class="project-footer">
            <strong>$<%= goal.target_amount %></strong>
            <span class="project-footer-extra">Target</span>
          </li>
          <li class="project-footer">
            <strong>$<%= goal.penalty_amount %></strong>
            <span class="project-footer-extra">Penalty</span>
          </li>
          <li class="project-footer">
            <strong><%= goal.deadline %></strong>
            <span class="project-footer-extra">deadline</span>
          </li>
        </ul>
        <ul class="twelve columns">
          <li class="project-footer">
            <strong>$<%= goal.pledges_total %></strong>
            <span class="project-footer-extra">Total pledged</span>
          </li>
        </ul>

        <%= form_for(@pledge) do |f| %>
          <% if @pledge.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@pledge.errors.count, "error") %> prohibited this pledge from being saved:</h2>
              <ul>
              <% @pledge.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= f.label :amount %>
            <%= f.number_field :amount, placeholder: "Pledge amount", class: "u-full-width" %>
          </div>
          <%= f.hidden_field :goal_id, :value=> goal.id %>
          <div class="actions">
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="<%= goal.title %>"
              data-email="<%= goal.user.email %>"
              data-amount="<%= @pledge.amount %>">
            </script>
            <%= f.submit %>
          </div>
          <% end %>

        <div class="twelve column">
          <%= link_to 'Pledge', new_pledge_path(:id => goal.id), :method => :get, class: "hvr-bounce-to-right button" %>
        </div>
      </div>
    <% end %>
    </div>

    <br>
      <%= button_to 'Book new goal', new_goal_path, :method => :get, class:"hvr-bounce-to-right" %>
</div>
